# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Tools & IDE
.vscode/
.idea/
.pytest_cache/
.mypy_cache/
.cache/
.coverage
coverage.xml

# Build artifacts
build/
dist/
*.egg-info/

list_of_bugs.txt